.homepage_best-rounds {
  border: 1px solid #ddd;
  margin-bottom: 0;
}

.homepage_best-best_header {
  margin-bottom: 0;
  padding: 10px;
}

.homepage_best-round_disclaimer {
  margin-top: 0;
  padding: 10px;
}
