#navigation-tray {
  background-color: #fff;
  border-top: 1px solid #888;
  position: fixed;
  bottom: 0;
  height: 60px;
  left: 0;
  right: 0;
  width: 100%;
}

.nav-tray_link-list {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;

  .nav-tray_link-list_link-container {
    border-right: 1px solid #aaa;
    display: flex;
    flex-basis: 25%;
    justify-content: center;
    height: 60px;

    &:last-of-type {
      border-right: none;
    }

    .nav-tray_link-list_link {
      align-items: center;
      color: $primary;
      display: flex;
      flex-direction: column;
      height: 60px;
      justify-content: center;
      line-height: 1;
      text-decoration: none;
      width: 100%;

      &.active {
        color: #fff;
        background-color: $primary;

        .unicon {
          fill: #fff;
        }
      }

      .nav-tray_link-list_link-icon {
        margin-bottom: 5px;
      }
    }
  }
}
